/* google fonts */
.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* navbar atyles */
nav {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* shared styles */
.text-primary {
    color: #FD6E0A;
}

.dark-2 {
    color: #474747;
}

.btn {
    cursor: pointer;
    color: white;
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
}

nav>ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav-tittle {
    font-size: 45px;
    font-weight: 800;
    margin: 0;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
}

.btn-png {
    margin-right: 10px;
}

.btn-2 {
    color: #FD6E0A;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    background-color: white;

}

.banner-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.btn2-png {
    margin-right: 10px;
}

.buttons {
    display: flex;
    gap: 30px;
}

.banner-text>h4 {
    margin: 0;
    color: #474747;
    font-size: 45px;
    font-weight: 600;
}

.banner-text>h1 {
    margin: 0;
    color: #181818;
    font-size: 85px;
    font-weight: 700;
}

.banner-text>p,
.about-box>p {
    margin: 0;
    color: var(--Dark-03, #757575);
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-align: start;
    /* 166.667% */
}

.about-box>p {
    text-align: center;
    margin: 30px 0 40px 0;
}

header {
    background-color: #FFF8F3;
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: left, bottom right;

}

.banner {
    display: flex;
    gap: 150px;
    align-items: center;
    width: 90%;
    margin-left: auto;
}

.hardy {
    padding-right: 35px;
    line-height: 0;
}

.about-box {
    padding: 130px;
}

.about {
    border-radius: 10px;
    width: 80%;
    margin: 100px auto 0;
    background-color: #FFF8F3;
    /* box-sizing: border-box; */
}

.about-name {
    display: flex;
}

.details {
    display: flex;
}

.about-box>h4,
.skills-head>h4 {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin: 0;
}

.about-name>p,
.skills-head>p {
    color: #757575;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    line-height: 30px;
}

.details {
    display: flex;
    justify-content: space-around;
}

.about-name {
    display: flex;
    justify-content: space-around;
}

.details>p {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    margin: 0;
}

.skills-head {
    width: 70%;
    margin: 100px auto 50px;
    text-align: center;
}

.skills-head>h4 {
    margin-bottom: 30px;

}

.skills-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 23px;
}

.skills>h4 {
    color: var(--Dark-01, #181818);
    font-size: 20px;
    font-weight: 700;
    margin: 35px 0;
}

.skills>p {
    color: var(--Dark-03, #757575);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.skills {
    padding: 30px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.resume-container {
    /* background-color: cadetblue; */
    margin-top: 100px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 30px;

}

.resume-colum>h3 {
    /* background-color:#FD6E0A; */
    color: var(--Dark-02, #474747);
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 30px;
}

.degree>h4 {
    color: var(--Dark-02, #474747);
    font-size: 25px;
    font-weight: 700;
    margin: 0 0 10px;
    
}

.degree>h3 {
    color: var(--Dark-03, #757575);
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}
.degree > p{
    color: var(--Dark-03, #757575);
font-size: 16px;
font-weight: 400;
line-height: 28px;
margin: 20px 0 0;
width: 80%;
}
.degree > hr{
    margin: 32px 0;
}
.last-button{
text-align: center;
margin-top: 60px;
}
.footer{
    background: #FFF8F3;
    margin-top: 100px;
}
.footer-container{
    display: flex;
    gap: 120px;
    width: 80%;
    margin: 0 auto;
    padding: 130px;
}
.footer-text > h4, .contact-form > h4, .section-tittle{
    color: var(--Dark-01, #181818);
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}
.footer-text > p{
    color: #474747;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 30px;
}
.pngs {
list-style: none;
display: flex;
gap: 20px;
}
.form-name{
    margin-bottom: 25px;
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    padding: 20px 330px 20px 30px;
    border: none;
    border-radius: 5px;

}
.submit{
    margin-top: 20px;
}
.text-area{
    border: none;
    border-radius: 5px;
    width: 100%;
    
   
}
.text-area::placeholder{
    color: var(--Dark-03, #757575);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
   
}
.footer{
    background: #FFF8F3;
    padding: 130px;
    display: flex;
    gap: 100px;
}
.footer-colum{
    width: 50%;
}
footer input[type="text"], footer input[type="email"] ,footer textarea{
    display: block;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    margin-bottom: 24px;
    height: 40px;
    border: none;
    font-size: 24px;
}